<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>{{ meta_title }}</title>
<meta name="description" content="{{ meta_description }}" />
<link rel="stylesheet" href="{{ url }}tools/stapy.css?_={: token.get_asset_token file:'tools/stapy.css' :}" />
<link rel="stylesheet" href="{{ url }}css/style.css?_={: token.get_asset_token file:'css/style.css' :}" />
<meta name="robots" content="{{ robots }}" />
<link rel="preload" as="font" href="{{ url }}fonts/lora-latin-medium.woff2" type="font/woff2" crossorigin="anonymous" />
<link rel="preload" as="font" href="{{ url }}fonts/lora-latin-bold.woff2" type="font/woff2" crossorigin="anonymous" />